
.widgetCart{
    margin: auto;
    max-width: 500px;
    min-width:500px;
    max-width: 150px;
    min-height: 150px;
    border-style: solid;
    border-color: rgb(201, 201, 202);
    border-radius: 10px;
}

.iconCart{ 
    filter: opacity(20%);
    width: 70px;
    height: 60px;
}

form{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

input{
    outline: none;
    width: 300px;
    height: 25px;
    margin-right: 15px;
}
button{
    background-color: rgb(137, 236, 123);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.active_icon {
    filter: opacity(100%);
}